dotfiles
.nky
.mozilla
.zshenv
.yashrc
.ssh
.wakatime*
.local/state
.local/share
.autojump
.cache
.cargo
.npm
.gnupg
.config/tmux/plugins
.config/zsh/.zcompdump
.config/pulse
.config/nvim/plugin
.config/systemd
.config/btop
.config/dconf
.config/zsh/.zsh_history
.config/yash/.yash_history
.local/npm
Downloads
repos
