dotfiles
.nky
.mozilla
.ssh
.wakatime.bdb
.wakatime.cfg
.wakatime
.zshenv
.local/state
.local/share
.autojump
.cache
.cargo
.npm
.gnupg
.config/tmux/plugins
.config/zsh/.zcompdump
.config/pulse
.config/pavucontrol.ini
.config/nwg-look/config
.config/nvim/plugin
.config/xsettingsd
.config/virt-viewer
.config/systemd
.config/btop
.config/dconf
.gtkrc-2.0
.config/libvirt/storage
.config/libvirt/qemu/nvram
.config/zsh/.zsh_history
.config/github-copilot
.local/npm
.password-store
Downloads
repos
