dotfiles
.nky
.mozilla
.ssh
.wakatime*
.local/state
.local/share
.autojump
.cache
.npm
.gnupg
.config/tmux/plugins
.config/pulse
.config/nvim/plugin
.config/asciinema/install-id
.config/glib-2.0
.local/npm
Downloads
repos
